*{
    margin: 0;
    font-family: "Poppins";
    overflow-x: hidden;
}
body{
    height: 100%;
    width: 100%;
}

/* div{
    border: 1px solid blue;
} */

h1, h2, h3{
    font-weight: 500;
}

span{
    filter: contrast(20%);
    margin: 3vh 0 1vh;
    display: block;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h2{
    font-size: 48px;
    color: rgb(244, 67, 54);
    letter-spacing: -2px;
}

h3{
    font-size: 24px;
    font-weight: 400;
}

img{
    width: 100%;
    height: 100%;
}

/* sidebar */

.navbar{
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 3;
    background-color: rgb(244, 67, 54);
    color: white;
}

.navbar a{
    color: white;
    padding: 8px 16px;
    font-size: 18px;
    display: block;
    width: 46vh;
}

.navbar a:hover{
    background-color: #fff;
    color: #000;
}

.logo{
    width: 100%;
    height: 35%;
    display: inline-block;
}

.navbar h3{
    margin: auto;
    font-size: 24px;
    padding: 110px 80px 40px 30px;
    
}

.links{
    height: 60%;
    display: inline;
}

.links ul{
    line-height: 4vh;
    margin-left: 10px;
    position: relative;
    letter-spacing: -1px;
    left: -35px;
    top: -0.5vh;
}

.links a{
    font-size: 19px;
    font-weight: 600;
}

/* main */

.content{
    height: auto;
    width: 80%;
    align-items: center;
    margin: 0px 0px 0px 20%;
}

.content *{
    margin: auto;
}

.content div{
    text-align: left;
    align-items: start;
}

/* showcase */

#showcase{
    margin: 80px 37px 0px;
    padding: 0px 16px 16px;
    width: 80%;
    height: 237.19px;
}

#showcase hr{
   width: 5%;
   border: 5px solid red;
   margin: 20px 0px;
   border-radius: 10px;
}

#showcase h1{
    font-size: 64px;
    margin: 10px 0px;
    font-weight: 600;
    letter-spacing: 1px;
}

.imgs{
    width: 92.6%;
    height: 153vh;
    display: flex;
    margin: 0px 37px 0px;
}

.showing{
    opacity: 0.8;
}

.showing:hover{
    opacity: 1;
}

.half{
    width: 50%;
    padding: 0px 8px;
    margin: 0;
}

.top{
    height: 40%;
    width: 100%;
}

.mid{
    height: 30%;
    width: 100%;
}

.bot{
    height: 30%;
    width: 100%;
}

/* services */

#services{
    margin: 75px 37px 0px;
    padding: 0px 16px 16px;
    width: 90%;
    height: 45vh;
}

#services hr{
    width: 5%;
    border: 5px solid red;
    margin: 20px 0px;
    border-radius: 10px;
 }

 .serv{
    margin: 16px 0px;
 }

/* designers */

#designers{
    margin: 75px 37px 0px;
    padding: 0px 16px 16px;
    width: 90%;
    height: 40vh;
}

.team{
    width: 91.3%;
    height: 69vh; 
    padding: 0px 8px;
    display: flex;  
    margin: 0px 37px 0px;
}

.member{
    margin: 0px 0px 16px;
    padding: 0px 8px;
    width: 33%;
    display: block;
    justify-content: center;
    filter: grayscale(80%);
}

.info{
    background-color: #f3f3f3;
    height: 32vh;
    position: relative;
    top: -1vh;
    padding: 0px 12px 0px;
}

.member h3{
    margin-top: 1vh;
}


.minfo{
    margin: 3vh 0;
}

#designers hr{
    width: 5%;
    border: 5px solid red;
    margin: 20px 0px;
    border-radius: 10px;
}
/* packages */

#packages{
    margin: 75px 37px 0px;
    padding: 0px 16px 16px;
    width: 90%;
    height: 27vh;
}

#packages hr{
    width: 5%;
    border: 5px solid red;
    margin: 20px 0px;
    border-radius: 10px;
}

.plans{
    width: 91.3%;
    height: 93.5vh;
    padding: 0px 8px;
    display: flex;
    margin: 0px 37px 0px;
}

.plans ul{
    width: 100%;
    padding: 0;
    text-align: center;
}



.plan{
    padding: 2.55vh 0;
    margin: auto;
}

.plan, .price{
    background-color: #f3f3f3;
    border-bottom: 1px solid #d8d8d8;
    width: 100%;   
}

.align{
    display: inline;   
}

.price span{
    margin: 2vh 0;
}

.price h1{
    margin: 2vh 0;
}

.plann{
    background-color: #f3f3f3;
    width: 100%;
    padding: 5vh 0;
}

.basic{
    background-color: #616161;
    color: white;
    padding: 6% 44%;
    
}

.basic h3{
    display: inline;
}

.pro{
    background-color: rgb(244, 67, 54);
    color: white;
    padding: 6% 45%;
    
}

.pro h3{
    display: inline;
}

.half2{
    width: 50%;
    height: 90.5vh;
    margin: 0px 0px 16px;
    padding: 0px 8px;
}

.basicbut{
    font-size: 14px;
    padding: 2vh 4vh;
    background-color: #fff;
    border: none;
}

.basicbut:hover{
    background-color: #000;
    color: #fff;
}

.probut{
    font-size: 14px;
    padding: 2vh 4vh;
    background-color: rgb(244, 67, 54);
    color: #fff;
    border: none;
}

.probut:hover{
    background-color: #000;
    color: #fff;
}

/* contact */

#contact{
    width: 90%;
    height: 72.4vh;
    margin: 75px 37px 0px;
    padding: 0px 16px 16px;
}

#contact hr{
    width: 5%;
    border: 5px solid red;
    margin: 20px 0px;
    border-radius: 10px;
}

label{
    display: block;
}

input{
    width: 98%;
    height: 6vh;
    border: 1px solid #a7a7a7;
    margin: 0;
}

.inp{
    margin: 3vh 0;
}

#submit{
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(244, 67, 54);
    color: #fff;
    border: none;
}

#submit:hover{
    background-color: #cecece;
    color: #000;
}

/* footer */

.footer{
    width: auto;
    height: 7vh;
    margin: 75px auto 0px;
    padding: 42px 58px 40px 16px;
    background-color: #f1f1f1;
}

.footer p{
    text-align: right;
}

.footer a{
    text-decoration: underline;
    color: #000;
}

.show1{
    height: 461.44px;
    width: 100%;
}

.show2{
    height: 297px;
    width: 100%;
}

.show3{
    height: 220px;
    width: 100%;
}

.w3s:hover{
    color: purple;
}