*{
    margin: 0;
    font-family: "Poppins";
    overflow-x: hidden;
}
body{

    height: 100%;
    width: 100%;
    
}

div{
    border: 1px solid blue;
}

h1, h2, h3{
    font-weight: 500;
}

h2{
    font-size: 48px;
    color: rgb(244, 67, 54);
    letter-spacing: -2px;
}

img{
    width: 100%;
    height: 100%;
}

/* sidebar */

.navbar{
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 3;
    background-color: rgb(244, 67, 54);
    color: white;
}

.navbar a{
    color: white;
    padding: 8px 16px;
    font-size: 18px;
    width: 500px;
}

.logo{
    width: 100%;
    height: 35%;
    display: inline-block;
}

.navbar h3{
    margin: auto;
    font-size: 24px;
    padding: 110px 80px 40px 30px;
    
}

.links{
    height: 60%;
    display: inline;
}

.links ul{
    line-height: 41px;
    margin-left: 10px;
    position: relative;
    letter-spacing: -1px;
    left: -35px;
    top: -22px;
}

.links a{
    font-size: 19px;
    font-weight: 600;
}

/* main */

.content{
    height: auto;
    width: 80%;
    align-items: center;
    margin: 0px 0px 0px 20%;
}

.content *{
    margin: auto;
}

.content div{
    text-align: left;
    align-items: start;
}

/* showcase */

#showcase{
    margin: 80px 37px 0px;
    padding: 0px 16px 16px;
    width: 80%;
    height: 237.19px;
}
#showcase hr{
   width: 5%;
   border: 5px solid red;
   margin: 20px 0px;
   border-radius: 10px;
}

#showcase h1{
    font-size: 64px;
    margin: 10px 0px;
    font-weight: 600;
    letter-spacing: 1px;
}



.imgs{
    width: 94%;
    height: 153vh;
    display: flex;
    margin: 0px 37px 0px;
}
.half{
    width: 50%;
    padding: 0px 8px;
    margin: 0;

}

.top{
    height: 40%;
    width: 100%;
}

.mid{
    height: 30%;
    width: 100%;
}

.bot{
    height: 30%;
    width: 100%;
}

/* services */

#services{
    margin: 75px 37px 0px;
    padding: 0px 16px 16px;
    width: 90%;
    height: 45vh;
}

#services hr{
    width: 5%;
    border: 5px solid red;
    margin: 20px 0px;
    border-radius: 10px;
 }

 .serv{
    margin: 16px 0px;
 }

/* designers */

#designers{
    margin: 75px 37px 0px;
    padding: 0px 16px 16px;
    width: 90%;
    height: 35vh;
}

.team{
    width: 91.3%;
    height: 65vh; 
    padding: 0px 8px;
    display: flex;  
    margin: 0px 37px 0px;
}

.member{
    margin: 0px 0px 16px;
    padding: 0px 8px;
    width: 33%;
    display: block;
    justify-content: center;
    
}

.info{
    padding: 0px 16px 16px;
    width: 100%;
    height: 214.32px
}

/* packages */

#packages{
    margin: 75px AUTO 0px;
    padding: 0px 16px 16px;
    width: 80%;
    height: 219.22px;
}

.plans{
    width: 80%;
    height: 620.68px;
    padding: 0px 8px;
    display: flex;
}

.half2{
    width: 50%;
    height: 100%;
    margin: 0px 0px 16px;
    padding: 0px 8px;
}

/* contact */

#contact{
    width: 80%;
    height: 505.71px;
    margin: 75px auto 0px;
    padding: 0px 16px 16px;
}

/* footer */

.footer{
    width: auto;
    height: 119.98px;
    margin: 75px auto 0px;
    padding: 32px 58px 32px 16px;
}

.show1{
    height: 461.44px;
    width: 100%;
}

.show2{
    height: 297px;
    width: 100%;
}

.show3{
    height: 220px;
    width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}